.bench-popup{
  text-align: center;
  background: aliceblue;
}

.bench-header{
  font-size: 16px;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
}

.bench-info{
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
}

.bench-info p{
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.bench-info h4{
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.bench-button{
  border: 1px solid;
  border-radius: 5px;
  padding: 0;
  overflow: hidden;
  display: block;;
}

.bench-button a{
  color: black;
  display: block;
  font-weight: bold;
  padding: 10px 5px;
  border-radius: 5px;
  transition: background 0.2s, color 0.2s;
} 

.bench-button a:hover,
.bench-button a:focus {
  background: lightcyan;
}

.no-bottom-border{
  border-bottom: none;
}
